# üö¢ Titanic Estimator

6-step ML framework <a href="https://www.mrdbourke.com/a-6-step-field-guide-for-building-machine-learning-projects/">here</a>:

1Ô∏è‚É£ **Problem Definition:** What problem are we trying to solve? 

2Ô∏è‚É£ **Data:** What data do we have?

3Ô∏è‚É£ **Evaluation:** What defines success? What metric will we use to evaluate our model? 

4Ô∏è‚É£ **Features:** What features should we use?

5Ô∏è‚É£ **Model:** What model will weuse to solve the problem?

6Ô∏è‚É£ **Experimentation:** What have we tried and what else can we try?

### 1. Problem Definition

Predicting the surviving passengers of the Titanic shipwreck based on the features of the passengers.

### 2. Data

Data comes from <a href="https://www.kaggle.com/competitions/titanic/overview">Kaggle</a>. See the data dictionary for detailed descriptions of the features.

### 3. Evaluation

Accuracy of the model, evaluated when submitting to the Kaggle competition.

### 4. Features

In [4]:
# Data exploration
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


# Machine learning
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [10]:
# Set random seed
seed = 99
np.random.seed(seed)

In [14]:
# Load data
train_df = pd.read_csv("data/train.csv")
test_df = pd.read_csv("data/test.csv")

In [15]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
# Split train_data into features (X) and labels (y)
X = train_df.drop("Survived", axis=1)
y = train_df["Survived"]

# Split features and labels into training and validation sets
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=seed)

In [35]:
# Data shapes
print("X_train.shape:", X_train.shape)
print("X_valid.shape:", X_valid.shape)
print("y_train.shape:", y_train.shape)
print("y_valid.shape:", y_valid.shape)

X_train.shape: (712, 11)
X_valid.shape: (179, 11)
y_train.shape: (712,)
y_valid.shape: (179,)

### 5. Model

### 6. Experimentation